<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1beb5182c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2 style="text-align:center; margin:3rem 0 3rem 0">Discover the exciting world of K-Pop <br />and Anime Merchandise.</h2>
    <main class="dashboard-layout">
        <div id="dashboard-glow"></div>
        <div class="card-1">
            <img src="~/Images/card1-dashboard.png" id="card1-img">
            <div class="card1-content">
                <h4>Find your favorite K-Pop and Anime merchandise</h4>
                <p style="font-size: 13px; margin-top: 1.5rem;">
                    Browse our extensive collection of K-Pop and Anime merchandise from around the world.
                </p>
                <button style="border-style: none; background: none;">Shop<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="card-2">
            <img src="~/Images/card2-dashboard.png" id="card2-img">
            <div class="card2-content">
                <h4>Stay up-to-date with the latest merch releases</h4>
                <p style="font-size: 13px; margin-top: 1.5rem;">
                    Get notified about new arrivals, limied editions, and exclusive offers.
                </p>
                <button style="border-style: none; background: none;">Subscribe<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="card-3">
            <img src="~/Images/card3-dashboard.png" id="card3-img">
            <div class="card3-content">
                <h4>Get inspired by our curated selection of merchandise</h4>
                <p style="font-size: 13px; margin-top: 1.5rem;">
                    Explore unique and trendy items handpicked by our team of experts.
                </p>
                <button style="border-style: none; background: none;">Discover<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </main>
</body>
</html>