<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1beb5182c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="home-layout">
        <div class="image-content-home">
            <div id="home-glow"></div>
            <img src="~/Images/home-img.png" id="home-img">
        </div>
        <div class="home-content">
            <h1>부보이</h1>
            <h1>Explore the Top Rated Anime and K-Pop Merchandise.</h1>
            <p>
                <br />
                Discover a vast assortment of premium K-Pop and anime items from throughout the globe. Track down your preferred 
                idols and characters, and demonstrate your support with fashionable and distinctive goods.
            </p>
            <button id="purchase-btn">Explore<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </main>
</body>
</html>