<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1beb5182c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="inquiry-layout">
        <h3>Let's get in touch!</h3>
        <p>Get notified about new arrivals, limied editions, and exclusive offers. Fill-out the inquiry
        form to get notified with us.</p><br />
        <form action="#" id="inquiry-form">
            <input type="text" name="name"
                    placeholder="Name">
            <input type="email"
                    name="email"
                    placeholder="Email" />
            <textarea name="message"
                    placeholder="Message"></textarea><br />
            <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>