﻿<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1beb5182c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="purchase-layout">
        <div class="purchase-content">
            <h1>부보이</h1>
            <h1>Buy from our Best K-Pop <br />and Anime Merchandise.</h1>
            <p>
                Explore a wide range of high-quality K-Pop and anime merchandise from around the world. <br />Find your favorite 
                idols and characters, and show your support with unique and stylish products.
            </p>
            <br />
            <button id="purchase-btn">Purchase</button>
            <button id="learn-more-btn">Learn More<i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="image-content">
            <div id="purchase-glow"></div>
            <img src="~/Images/purchase-img.png" id="purchase-img">
        </div>
    </main>
</body>
</html>